{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow my-4">
                <div class="card-body">
                    <form id="form">
                        <div class="form-group">
                            <label for="data">Mês</label>
                            <select id="mes" name="mes" class="form-control">
								<option value="1">Janeiro</option>
								<option value="2">Fevereiro</option>
								<option value="3">Março</option>
								<option value="4">Abril</option>
								<option value="5">Maio</option>
								<option value="6">Junho</option>
								<option value="7">Julho</option>
								<option value="8">Agosto</option>
								<option value="9">Setembro</option>
								<option value="10">Outubro</option>
								<option value="11">Novembro</option>
								<option value="12">Dezembro</option>
							</select>
                        </div>
                        <button type="submit" class="btn btn-primary">Listar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow my-4">
        <div class="card-body" id="div-grafico"></div>
    </div>
</div>

<script src="/static/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/js/jquery-validate/additional-methods.min.js"></script>
<script src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script src="/static/js/chart.js/chart.min.js"></script>

<script type="text/javascript">
	"use strict";

	$("#form").validate({
		rules: {
			data: {
				required: true
			}
		},
		submitHandler: function () {
			atualizarDados();
		}
	});

	async function atualizarDados() {
		waitSwal();

		try {

			let mes = document.getElementById("mes").value;

			let response = await fetch("/dadosPorDiaJson?mes=" + encodeURIComponent(mes));

			if (response.ok) {

				Swal.close();

				let div = document.getElementById("div-grafico");
				div.innerHTML = '<canvas id="grafico-barras" style="height: 50vh;"></canvas>';

				let labels = [], direcao_vento = [], umidade_ar = [], temperatura = [], luminosidade = [];

				let dados = await response.json();
				if (!dados || !dados.length) {
					Swal.fire("Erro", "Sem dados na data especificada!", "error");
					return;
				}

				for (let i = 0; i < dados.length; i++) {
					labels.push(dados[i].dia);
					direcao_vento.push(dados[i].direcao_vento);
					umidade_ar.push(dados[i].umidade_ar);
					temperatura.push(dados[i].temperatura);
					luminosidade.push(dados[i].luminosidade);
				}

				let grafico = new Chart(document.getElementById("grafico-barras"), {
					type: "bar",
					data: {
						labels: labels,
						datasets: [
							{
								label: "Direção do Vento",
								backgroundColor: "#0066ff",
								hoverBackgroundColor: "#0055ee",
								borderColor: "#0066ff",
								data: direcao_vento,
							},
							{
								label: "Umidade do Ar",
								backgroundColor: "#bb99ff",
								hoverBackgroundColor: "#aa88ee",
								borderColor: "#bb99ff",
								data: umidade_ar,
							},
							{
								label: "Temperatura",
								backgroundColor: "#cc0000",
								hoverBackgroundColor: "#bb0000",
								borderColor: "#cc0000",
								data: temperatura,
							},
							{
								label: "Luminosidade",
								backgroundColor: "#ff9900",
								hoverBackgroundColor: "#ee8800",
								borderColor: "#ff9900",
								data: luminosidade,
							},
						],
					},
					options: {
						maintainAspectRatio: false,
						layout: {
							padding: {
								left: 10,
								right: 25,
								top: 25,
								bottom: 0
							}
						},
						scales: {
							x: {
								gridLines: {
									display: false,
									drawBorder: false
								},
								ticks: {
									maxTicksLimit: 10
								},
								maxBarThickness: 25,
							},
							y: {
								//display: false,
								ticks: {
									min: 0,
									max: 10,
									maxTicksLimit: 10,
									padding: 10
								},
								gridLines: {
									color: "rgb(234, 236, 244)",
									zeroLineColor: "rgb(234, 236, 244)",
									drawBorder: false,
									borderDash: [2],
									zeroLineBorderDash: [2]
								}
							},
						},
						legend: {
							display: false
						},
						tooltips: {
							titleMarginBottom: 10,
							titleFontColor: '#6e707e',
							titleFontSize: 14,
							backgroundColor: "rgb(255,255,255)",
							bodyFontColor: "#858796",
							borderColor: '#dddfeb',
							borderWidth: 1,
							xPadding: 15,
							yPadding: 15,
							displayColors: false,
							caretPadding: 10
						},
					}
				});

			} else {
				await exibirErro(response);
			}

		} catch (ex) {
			Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
		}
	}

	document.getElementById("mes").value = (new Date()).getMonth() + 1;

	atualizarDados();

</script>

{% endblock %}
