<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <script
      src="https://kit.fontawesome.com/1ab302d7af.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="profiles">
      <div class="profile-card">
        <img src="fotos/foto_Antonio.png" alt="foto" />
        <h2>Antonio</h2>
        <h3 class="role">Gerente de Projetos de TI</h3>
        <p>
          Lidera projetos complexos, garantindo a entrega no prazo e orçamento.
          Focado na otimização de processos, ele tem equipes para resultados de
          alta qualidade.
        </p>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-github-alt"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="profile-card">
        <img src="fotos/foto_Massaro.png" alt="foto" />
        <h2>Bruno Massaro</h2>
        <h3 class="role">Engenheiro de Machine Learning</h3>
        <p>
          Desenvolve algoritmos de inteligência artificial, aplicando modelos
          preditivos e soluções inovadoras para resolver problemas empresariais
          de maneira eficiente.
        </p>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-github-alt"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="profile-card">
        <img src="fotos/foto_Assis.jpg" alt="foto" />
        <h2>Bruno Assis</h2>
        <h3 class="role">Cientista de Dados</h3>
        <p>
          Especialista em análise de grandes volumes de dados para extrair
          insights estratégicos. Ele cria modelos preditivos e ajuda empresas a
          tomar decisões baseadas em dados, com um foco em segurança cibernética
          e otimização de infraestrutura.
        </p>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-github-alt"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="profile-card">
        <img src="fotos/foto_Luigi.png" alt="foto" />
        <h2>Luigi</h2>
        <h3 class="role">Desenvolvedor Fullstack</h3>
        <p>
          Desenvolvedor versátil, com domínio em front e back-end. Ele
          desenvolveu soluções web robustas, com foco em desempenho e
          experiência do usuário.
        </p>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-github-alt"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="profile-card">
        <img src="fotos/foto_Vini.jpg" alt="foto" />
        <h2>Vinicius</h2>
        <h3 class="role">Designer de UX/UI</h3>
        <p>
          Cria experiências digitais intuitivas e intuitivas, priorizando a
          usabilidade e a satisfação do usuário. Ele transforma requisitos de
          negócio em interfaces funcionais e visuais modernas.
        </p>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-github-alt"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </section>
  </body>
</html>
